*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: #000;
}

#main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
}

#profile-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

#profile-header #user-avatar {
    width: 100px;
    border: 1px solid #fff
}

#profile-header #user-avatar img {
    width: 100px;
    height: auto
}

#profile-header #user-id {
    width: calc(100% - 100px)
}

#profile-header #user-level {
    padding: .3em .5em;
    width: auto;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
}

#profile-header #user-xp progress {
    max-width: 100%;
    min-width: 100px
}
#profile-header #user-xp {
    width: calc(100% - 100px)
}


#profile-header #user-cash {
    width: 100%
}

@media screen and (min-width: 768px) {
    /*
    Flex Grid
*/
    .grid {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .col-2 {
        width: 50%;
    }
    .col-3 {
        width: 33.33333%;
    }
    .grid.space .col-2:first-child {
        margin-right: .5em;
    }
    .grid.space .col-2:last-child {
        margin-left: .5em;
    }
    .grid.space .col-3:first-child {
        margin-right: .5em;
    }
    .grid.space .col-3:last-child {
        margin-left: .5em;
    }
}


/*
    Sematnic CSS
*/

a {
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5rem 0 1rem 0;
    color: #000000;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.33333em;
}

h3 {
    font-size: 3.07692em;
}

h4 {
    font-size: 2.85714em;
}

h5 {
    font-size: 2.66667em;
}

h6 {
    font-size: 2.5em;
}

u,
p {
    margin: .5em 0 1em 0;
    line-height: 1.5em;
}

strong {
    font-weight: 700;
}