.newBtnClass {
    height: 40px;
    width: 40%;
    border: 1px black solid;
    background-color: lightgray;
    text-align: center;
    font-size: auto;
    margin-top: 30px;
    font-weight: bold;
    margin-left: 20px;
}
#inputID {
    font-size: 25px;
}
#printResult {
    margin-top: 20px;
}
#printVars {
    color: black;
}