@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

html, body {
    background-color: #000;
    color: #636b6f;
    
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;

    font-family: monospace;

    /* Alternative?
        font-family: 'Nanum Gothic Coding', monospace; 
        font-size: 16px;
        font-weight: bold;
    */
    
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    color: red;
    text-align: center;
}

.title {
    font-size: 10vw;
}
.title a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.links > a {
    color: #19ff00;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a {
    color: #19ff00;
}
.navbar-default .navbar-brand {
    color: red;
    display: inline-block;
}
.btn-primary {
    color: #000;
    background-color: #19a709;
    border-color: #000;
}
.btn-primary:hover {
    color: #000;
    background-color: #19a709;
    border-color: #000;
}

.btn-link {
    color: #fff;
    font-weight: normal;
    border-radius: 0;
}
.btn-link:hover {
    color: #fff;
    font-weight: normal;
    border-radius: 0;
}


.m-b-md {
    margin-bottom: 30px;
}


.header-container {
    padding: 0 1em;
}

#search {
    position: absolute;
    top: 10px;
    left: 500px;
    width: auto
}
#search input {
    height: 2em;
    width: 12em;
}

#search .search-results {
    width: 30em;
    margin-left: -9em;
    background: #131313;
    box-shadow: 0 0 5px #000;
    color: #fff;
    margin-top: 1em;
}



.search-results li {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center
}

#user-positions li {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}


#user-positions li,
.search-results li{
    overflow-wrap: break-word;
}



.search-results li:nth-child(odd) {
    background: #333;
}

@media (max-width: 770px) {
    #search {
        left: 150px;
        right: 6em;

    }

    #search input {
        width: 10em;
    }


    #search .search-results {
        position: fixed;
        left: 1em;
        margin-left: 0;
        right: 1em;
        width: auto;
    }
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .title {
  position: absolute;
}
.links {
  z-index: 10;
}
#video {
    height: 100vh;
    position: absolute;
}


   input[type="search"]::-webkit-search-cancel-button {
   -webkit-appearance: searchfield-cancel-button;
   }
